body {
    margin: 0;
    padding: 0;
    white-space: wrap;
    padding-bottom: 6000px;
}

p { 
    margin: 0;
    font-family: Radio Canada, Arial;
    font-weight: 300;

}

a {
    font-family: Rubik, Arial;
}

h1{
    margin: 0;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
}

@supports (font-variation-settings: "wght" 450){
    p {
        font-family: "Radio Canada";
        font-weight: 300;
    }

}